@media(max-width:412){
    .header{
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 10%;
        margin-top: 10px;
    }
    .nav a{
        margin: 0;
    }
    .hero{
        flex-direction: column;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }
    .hero-text{
        max-width: 100%;
    }
    .hero-img img{
        width: 80%;
        margin-top: 20px;
    }
    .buttons button{
        width:100% ;
        height: auto;
    }
    .stats{
        flex-direction: column;
    }
    .Xr,.Y,.B{
        width: 80%;
    }
    .z{
        flex-direction: column;
        padding: 0 20px;
    }
    .r{
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .d{
        flex-direction: column;
    }
    .p{
        width: 100%;
        height: auto;
        margin-bottom: 20px;

    }
    .H{
        flex-direction: column;
        padding: 20px;
    }
    .e{
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .J{
       height: auto;
       padding: 20px;
    }
    button{
        width: 100%;
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 24px;
    }


}