@media(max-width:820px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
        max-width: 100%;
    }
    .hero-img img{
        width: 60%;
    }
    .z{
        flex-wrap: wrap;
        padding: 0 40px;
    
    }
    .r{
        width: 48%;
        height: auto;
        padding: 15px;
    }
    .d{
        flex-wrap: wrap;
    }
    .p{
        width: 45%;
        height: auto;
        margin-bottom: 20px;
    }
    .H{
        flex-wrap: wrap;
    }
    .e{
        width: 45%;
        height: auto;
        padding: 15px;
    }
    .Xr,.Y,.B{
        width: 40px;
    }
}